<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<h2>Login</h2>

<form method="post" action="{% url 'AlertApp:index' %}">
    {% csrf_token %}
    {{ form.as_p }}
	<div>
		<label for="id_number">Device Id:</label>
		<input type="text" name=id_number id="id_number"><br>
    </div>
	<button type="submit">Login</button>
	<input type="hidden" name="user_type" value= {{ user.is_supervisor_user }}>
</form>

{% endblock %}
