/* CSS Styles for App */

html {
	font-size:20px;
	background-color: lightblue;
}

body {
	width: auto;
	margin: 0 auto;
	background-color: aliceblue;
	border: 2px solid black;
	padding: 0 20px 20px 20px;
	text-align: center;
}

<<<<<<< HEAD


label {
=======
p, label {
>>>>>>> 420879ec5882bd49a692f89d0c00a98d825e4d34
    color: coral;
}
#user_type{
	color: coral;
}

h1 {
	color: coral;
}
#questionnaire {
	color: red;
	
}

#Canvas {
		text-align: center;
}


<<<<<<< HEAD

=======
>>>>>>> 420879ec5882bd49a692f89d0c00a98d825e4d34
