<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Hawkeyed Rescue{% endblock %}

{% block content %}
<h1 id="main_msg">Home Page</h1>
	{% if user.is_authenticated %}
		<p style="color: black;">Hello, {{ user.username }}.</p>
		{% if user.is_superuser  %}
			<p><a href="{% url 'admin:index' %}">admin page</a></p>
			<p><a href="{% url 'AlertApp:index' %}">Go to reporting page.</a></p>
			<p><a href="{% url 'AlertApp:map' %}">Go to map page.</a></p>
		{% else %}
			<p><a href="{% url 'AlertApp:index' %}">Go to reporting page.</a></p>
		{% endif %}
		<p><a href="{% url 'logout' %}">logout</a></p>
	{% else %}
		<p style="color: black;">Must enter login credentials.</p>
		<a href="{% url 'AlertApp:login_page' %}">Login</a>
	{% endif %}
{% endblock %}
