<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    Hello {{ user.username }}.
    {% if user.username == 'admin'  %}
        <p><a href="{% url 'admin:index' %}">admin page</a></p>
		<p><a href="{% url 'AlertApp:index' %}">Go to reporting page.</a></p>
    {% else %}
        <p><a href="{% url 'AlertApp:index' %}">Go to reporting page.</a></p>
    {% endif %}
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
    <p>Must enter login credentials.</p>
    <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}
